::-webkit-scrollbar{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: #ABB2B9;
    border-radius: 10px;
    border: 3.7px white solid;
}
html{
    scroll-behavior: smooth;
}